.header .navbar-brand > img {
  height: 40px;
}

/* Theme only allows for colored navbars, but we want white so need to color the hamburger menu */
.navbar-toggle { border: 1px solid #ccc; }
.navbar-toggle .icon-bar { background-color: #666;}

.footer {
  font-size: smaller;

  background-color: #efefef;
  padding: 20px 0;
  margin-top: 20px;
}

.footer .copyright {
  text-align: center;
}

.google-maps {
	position: relative;
	padding-bottom: 75%; // This is the aspect ratio
	height: 0;
	overflow: hidden;
}
.google-maps iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100% !important;
	height: 100% !important;
}

.author-image {
  width: 64px;
  height: 64px;
}

section.seperated {
  border-bottom: 1px solid #ecf0f1;

  padding-bottom: 1.5em;
  margin-bottom: 1.5em;
}

.member-image {
  width: 48px;
  height: 48px;
  float: left;
  margin: 0 5px 5px 0;
}

.block-image {
  height: 200px;
  width: 200px;
  display: block;
  background-color: #f0f0f0;
  background-position-x: 50%;
  background-position-y: 50%;
  background-origin: border-box;
  background-size: cover;
  margin-right: 20px;
  border: thin solid #e3e3e3;
}

.card-project h3 {
  margin-top: 0;
}

.card-project {
  border-radius: 0;
}

.project-search-params {
  padding-bottom: 20px;
}


.share-box a { display: inline-block; -webkit-box-shadow: 0 0 1px #777; box-shadow: 0 0 1px #777; padding: 5px 12px; margin-right: 5px; margin-bottom: 5px; text-decoration: none; } 
.share-box a:hover { text-decoration: none; -webkit-transition: background-color 200ms linear; -ms-transition: background-color 200ms linear; transition: background-color 200ms linear; } 
.f { color: #3b5998; } 
.f:hover { color: #fff; background-color: #3b5998; } 
.t { color: #4099FF; } .t:hover { color: #fff; background-color: #4099FF; } 
.g { color: #d34836; } 
.g:hover { color: #fff; background-color: #d34836; } 
.r { color: #ff5700; } 
.r:hover { color: #fff; background-color: #ff5700; } 
.l { color: #0077b5; } .l:hover { color: #fff; background-color: #0077b5; } .e { color: #444444; } .e:hover { color: #fff; background-color: #444444; }