<div class="container">
  <nav class="navbar navbar-expand-md navbar-light">
    <a class="navbar-brand" href="/">
      <img src='{{ site.logo | prepend: site.baseurl }}' alt='{{ site.title }}' title='{{ site.title }}' class='img-fluid' />
    </a>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div id="navbarNav" class="navbar-collapse collapse">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href='{{ site.baseurl }}/'> Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href='{{ site.baseurl }}/events'> Events</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href='{{ site.baseurl }}/calendar'> Events Calendar</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href='{{ site.baseurl }}/blog'> Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href='{{ site.baseurl }}/projects'> Projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href='{{ site.baseurl }}/donate'> Donate</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href='{{ site.baseurl }}/about'> About</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
